<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.antifake">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_fake"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AntiFake">
        <activity android:name=".SearchResultActivity"></activity>
        <activity android:name=".manufacturer.ui.ManuOutwarehouseActivity" />
        <activity android:name=".brand.ui.auth.BrandAuthManuActivity" />
        <activity android:name=".brand.ui.BrandAuthorizeActivity" />
        <activity android:name=".qrscan.ScanActivity" />
        <activity android:name=".regulator.ui.ReguInfRecordActivity" />
        <activity android:name=".regulator.RegulatorMainActivity" />
        <activity android:name=".dealer.ui.DealerInfRecordActivity" />
        <activity android:name=".dealer.ui.DealerInventorySearchActivity" />
        <activity android:name=".manufacturer.ui.ManuInventorySearchActivity" />
        <activity android:name=".manufacturer.ui.ManuInfRecordActivity" />
        <activity android:name=".brand.ui.BrandDeallistSearchActivity" />
        <activity android:name=".brand.ui.BrandInventorySearchActivity" />
        <activity android:name=".SearchInfomationActivity" />
        <activity android:name=".brand.BrandMainActivity" />
        <activity android:name=".manufacturer.ManufacturerMainActivity" />
        <activity android:name=".dealer.DealerMainActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AntiFake.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>